html,
body {
    margin: 0;
    padding: 0;
}

.background {
    background-color: black;
}

h1 {
    color: white;
}

.toolbar {
    background-color: rgb(29, 27, 27);
    border-bottom-color: hotpink;
    border-style: solid;
    position: sticky;
    display: flex;
    justify-content: space-around;
}

h1#logo {
    color: hotpink;
    font-family: verdana, Helvetica, sans-serif;
    margin-right: auto;
    position: relative;
    left: 20px;
}

h1#logo .gold {
    color: gold;
    font-family: verdana, Helvetica, sans-serif;

}

.signup {
    background-color: hotpink;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

#intoolbar {
    width: 90px;
    height: 40px;
    position: relative;
    top: 23px;
    margin-right: 20px;
}

#signin {
    background-color: hotpink;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    width: 90px;
    height: 40px;
    position: relative;
    top: 23px;
    margin-right: 20px;
}

.herosec {
    position: relative;
    left: 0;
    right: 0;
    margin: 50px;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.herotitle {
    color: hotpink;
    font-family: "Bowlby One", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size:70px;

}

#signinhero {
height: 75px;
width: 150px;
font-size: 30px;
}